*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.first-row{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-div{
    padding: 15px;
    box-shadow: 0 16px 32px 0 rgba(135, 132, 132, 0.3);
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(240, 233, 233, 0.3);
    border-radius: 7px;
}
form{
    margin: 15px;
}
label{
    font-weight: bold;
}